<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script language="JavaScript">
<!--        function Refresh()-->
<!--        {-->
<!--            window.location.reload();-->
<!--        }-->
<!--        setTimeout('Refresh()',1000); //1秒刷新一次-->
    </script>
</head>
<body>
    <form action="addtask" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".py" />
        <input type="submit" />
    </form>
<!--    <a href="addtask/t1">addtask</a>-->
    <a href="runtasks">runtasks</a><br>
    <a href="stoptasks">stoptasks</a><br>
    <a href="restarttasks">restart_tasks</a><br>

    {% for task in tasks: %}
        {{ task.name }}:     {{ task.info }}<br>
        <form action="runtask_by_name" method="POST">
        <input type="hidden" name="task_name" value="{{ task.name }}"/>
        {% for param in task.params %}
            {{ param }}:
        <input type="text" name={{ param }}/>
            {% endfor %}
        <input type="submit" value="runtask">
        </form>
        <a href="stoptask_by_name/{{ task.name }}">stoptask</a>
        <a href="restarttask_by_name/{{ task.name }}">restart_task</a>
        <a href="taskinfo/{{ task.name }}">详细信息</a><br>
    {% endfor %}
</body>
</html>